<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="mystyle.css">
<head>
    <meta charset="UTF-8">

    <title>API Signos</title>
</head>
<body>
<h2>API para o Entra21 - Python</h2>

<p>Coloque ao final do endere&ccedil;o do site a data, separada por tra&ccedil;os, no formato dd-mm-aaaa</p>

<p>Exemplo:&nbsp;</p>

<p>https://apinova.jonasreiter.repl.co/<span style="color:#FF0000">14-03-1992</span></p>

<p>O output sera um arquivo .json:</p>
<p><br>Esta API foi criada com o intuito de ensinar o uso do Flask para criação de uma API, e utilização da biblioteca Requests</p>
<p><br>Desenvolvido por Jonas Reiter</p>

</body>
</html>